@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

body{
    margin:0;
    
}

#search-button{
    height:31px;
    
}
.carousel-item{
    color: black;
    height:400px
}
.h1{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
}